* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px ;
  width: 100% ;
  background-color: #EC715F;
}

.nav_main {
  width: 1024px ;
  margin: 0 auto;
  display: flex ;
  justify-content: space-between;
}

.nav_image {
  height: 70px ;
}

nav {
  display: block;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

main {
  height:650px;
  width:100%;
  background-image:url(img/mv.png);
  background-size: cover;
  text-align:center;
}

.main-text {
  padding-top: 200px;
}

.text-top {
  color: white;
  font-size: 64px;
  padding-bottom: 10px;
}

.text-bottom {
  color: white;
  font-size: 20px;
}

#Portfolio{
  background-color: #ECEFF1;
  margin: auto;
  text-align: center;
}

.main-text-top {
  padding-top: 90px ;
  font-size: 32px;
}

.main-boder-bg{
  margin: auto;
  margin-top: 8px ;
  height: 3px;
  width: 70px;
  background-color: #EC715F ;
}

.main-text-bottom {
  padding: 30px 0;
}

.portfolio-image-box{
  width: 920px;
  margin:auto;
  padding-bottom: 90px;
  display: flex;
  flex-flow: row wrap;
}

.portfolio-image1{
  height: 250px ;
  width: 300px ;
  margin-right: 10px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-image2{
  height: 250px ;
  width: 300px ;
  margin-right: 10px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.portfolio-image3{
  height: 250px ;
  width: 300px ;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-image4{
  height: 250px ;
  width: 300px ;
  margin-top: 10px;
  margin-right: 10px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.portfolio-image5{
  height: 250px ;
  width: 300px ;
  margin-top: 10px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-image6{
  height: 250px ;
  width: 300px ;
  margin-top: 10px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#Feature {
  margin: auto;
  text-align: center;
}

.Feature-box{
  width: 980px;
  margin: auto;
  display: flex;
  padding-bottom: 90px;
}

.Feature-icon1{
  width: 320px;
}

i {
  font-size: 60px;
}

.Feature-title {
  padding:10px 0;
}

.Feature-text {
  text-align: left;
}

.Feature-icon2{
  width: 320px;
  margin: 0 10px;
}

#Profile{
  background-color: #ECEFF1 ;
  margin: auto;
  text-align: center;
}

.Profile-box{
  width: 1024px;
  margin:auto;
  display: flex;
  padding-bottom: 90px;
}

.Profile-image-box{
  width:50%;
  margin: auto;
}

.Profile-image {
  width: 250px;
  height: 250px;
  border-radius:50%;
  background-image: url(img/my-icon.jpg);
}

.Profile-title{
  text-align: left;
  font-size: 20px;
  padding-bottom: 5px;
}

.Profile-name{
  text-align: left;
  padding-bottom: 20px;
}

.Profile-skills{
  text-align: left;
}

#Contact{
  text-align: center;
  padding-bottom: 90px;
}

.Contact-box{
  width:800px;
  display: flex;
  margin: auto;
}

.Contact-mail-box{
  width: 50%;
  text-align: left;
}

.Contact-title{
  font-size: 20px;
  width: 130px;
  margin: auto;
}

.Contact-mail{
  margin: auto;
  width: 130px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.Contact-tel{
  margin: auto;
  width: 130px;
  padding-top: 5px;
}

.Contact-sns{
  width: 50%;
}

.Contact-sns-title{
  margin: auto;
  width: 170px;
  text-align: left;
  font-size: 20px;
}

.Contact-icon{
  margin-left: 20px;
}

footer{
  height: 60px;
  width: 100%;
  background-color: #EC715F;
}

.footer-text{
  text-align: center;
  padding-top: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  
  .portfolio-image-box{
    display: block;
    width: 100%;
  }
  
  .Feature-box{
    display: block;
    width: 100%;
  }
  
  .Contact-box{
    display: block;
    width: 100%;
  }
  
  .Profile-box{
    display: block;
    width: 90%;
  }
  
  .Profile-image-box{
    width: 100%;
  }
  
  .nav_main{
    width:100%;
  }
  
  .nav{
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    display: block;
  }
  
  .nav-list{
    display: none;
  }
}